html { 
    background-color: rgba(152, 155, 155, 0.514);
}
/*configurações do menu principal */
nav { /*Menu principal*/
    background-color: rgba(0, 0, 255, 0.425); 
    box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.212); 
    text-align: center;
    padding: 10px;
    margin: 10px;
    font-size: 1.5rem;
}

nav > h1 { 
    color: #fff;
}
nav > a {  /*Personalizando "a" (links)*/ 

        color: white; 
        padding: 10px; 
        text-decoration: none;
        font-weight: bold; /*deixando fonte negrito*/    
        transition-duration: 0.1s;
    }
nav > a:hover {
    background-color: #10063d;
    color: white;
    border-radius: 10px; 
    transition-duration: 0.5s;
    
}